<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Animais</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .card-img {
            aspect-ratio: 9 / 16;
            object-fit: cover;
            width: 100%;
            height: auto;
        }
        .card {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>
    
    <div class="container mt-4">
        <h2>Lista de Animais</h2>
        <div class="mb-3">
            <form th:action="@{/animais/buscar/nome}" method="get" class="form-inline">
                <input type="text" name="nome" class="form-control mr-2" placeholder="Buscar por nome">
                <button type="submit" class="btn btn-primary">Buscar</button>
            </form>
        </div>
        <div class="row">
            <div class="col-md-4" th:each="animal : ${animais}">
                <div class="card">
                    <a th:href="@{/animais/detalhes(id=${animal.id})}">
                        <img th:src="@{${animal.pathFoto}}" class="card-img" alt="Foto do Animal">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title" th:text="${animal.nome}"></h5>
                        <p class="card-text">
                            Idade: <span th:text="${animal.idade}"></span><br>
                            Raça: <span th:text="${animal.raca}"></span><br>
                            Sexo: <span th:text="${animal.sexo == 'M' ? 'Macho' : 'Fêmea'}"></span>
                        </p>
                        <a th:href="@{/animais/detalhes(id=${animal.id})}" class="btn btn-primary">Ver Detalhes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
