<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Animais</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>
    
    <div class="container mt-4">
        <h2>Lista de Animais</h2>
        <div class="mb-3">
            <form th:action="@{/animais/buscar/nome}" method="get" class="form-inline">
                <input type="text" name="nome" class="form-control mr-2" placeholder="Buscar por nome">
                <button type="submit" class="btn btn-primary">Buscar</button>
            </form>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Idade</th>
                    <th>Raça</th>
                    <th>Sexo</th>
                    <th>Tutor</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="animal : ${animais}">
                    <td th:text="${animal.id}"></td>
                    <td th:text="${animal.nome}"></td>
                    <td th:text="${animal.idade}"></td>
                    <td th:text="${animal.raca}"></td>
                    <td th:text="${animal.sexo == 'M' ? 'Macho' : 'Fêmea'}"></td>
                    <td th:text="${animal.tutor != null ? animal.tutor.nome : 'Sem tutor'}"></td>
                    <td>
                        <!-- Botão de Delete -->
                        <form th:action="@{/animais/excluir}" method="post" style="display:inline;">
                            <input type="hidden" name="id" th:value="${animal.id}">
                            <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
                        </form>
                        <!-- Botão de Editar -->
                        <a th:href="@{/animais/editar(id=${animal.id})}" class="btn btn-success btn-sm ml-2">Editar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
