@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'Assemblage';
    src: url('../fonts/Assemblage\ W00\ Semibold.ttf') format('truetype');
    font-weight: 600; 
    font-style: normal;
}

* {
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

html
{
    scroll-behavior: smooth;
}

a {
    text-decoration: none !important;
}

body
{
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #e2dfdf !important;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px;
    max-width: 1500px !important;
    margin: 0px auto;
}

.container .card {
    width: 250px;
    height: 380px;
    margin: 20px;
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    transition: transform 0.3s;
    border-radius: 16px !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5) !important;
    background: rgba(255, 255, 255, 0.14) !important;
    backdrop-filter: blur(17.4px) !important;
    -webkit-backdrop-filter: blur(17.4px) !important;
    border: none;
    color: #000;
    cursor: pointer;
}


.container .card:hover {
    transform: translateY(-10px);
}

.container .card img {
    height: 280px;
    background-size: cover;
    border-radius: 16px 16px 0px 0px;
}

.container .card h3 {
    margin-top: 5px;
    font-weight: 900;
    font-size: 24px;
    color: #6C41AA;
}

.container .card p {
    margin-bottom: 0px;
    font-size: 16px;
    color: #000;
    font-weight: 600;
}

.logo {
    display: flex;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
}

.logo:hover {
    transform: translateY(-5px);
}

.logo i {
    font-size: 35px;
    margin-right: 10px;
    color: #6C41AA;
}

.logo h2 {
    font-size: 30px;
    margin: 0;
    color: #6C41AA;
    font-weight: 1000;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1400px;
    margin: 30px auto;
    margin-top: 40px;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 60px;
}

header nav ul li {
    margin: 0;
    padding: 0;
    transition: 0.3s;
}

header nav ul li:hover {
    transform: translateY(-5px);
}

header nav ul li span {
    font-weight: bolder;
    color: #6C41AA;
    font-size: 19px;
}

header nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 650;
    transition: color 0.2s, transform 0.2s;
    font-size: 19px;
}

header nav ul li a:hover {
    color: #6C41AA;
}

header nav ul li a.button{
    text-decoration: none;
    color: #fff;
    background-color: #6C41AA;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: bold;
    transition: 0.3s;
}

header nav ul li a.active {
    border-bottom: 2px solid #6C41AA;
    color: #6C41AA;
}

.favorite-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #000;
    cursor: pointer;
    transition: 0.2s;
}

.favorite-icon:hover {
    color: #6C41AA;
}

::-webkit-scrollbar
{
    width: 20px;
    height: 20px;
    border-radius: 10px;
}
    
::-webkit-scrollbar-track 
{
    border: 0px;
    border-radius: 0px;
    background: none;
}
    
::-webkit-scrollbar-thumb
{
    background: #6C41AA;  
    border-radius: 10px;
}
    
::-webkit-scrollbar-thumb:hover 
{
    background: #6C41AA;  
}

* {
    scrollbar-width: thin; 
    scrollbar-color: #6C41AA rgba(0, 0, 0, 0.1);    
} 