<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
        <link rel="icon" type="image/x-icon" href="assets/logo.ico">
        <title>Adotyx</title>
    </head>
<body>
    <header>
        <a href="/">
            <div class="logo">
                <img src="/image/logo.webp" alt="Logo">
                <h2>Adotyx</h2>
            </div>
        </a>
        <nav>
            <ul>
                <li><a href="/" class="active">Início</a></li>
                <li><a href="/animais">Pets</a></li>
                <li><a href="/usuarios/listar">Usuários</a></li>
                <li><a href="/mensagem/chat">Chat</a></li> <!-- Substituído "Minha Conta" por "Chat" -->
                <li><a href="/usuarios/cadastrar" class="button">Entrar</a></li>

                <!-- Verifica se o usuário está logado -->
                <li th:if="${username != null}">
                    <span>Olá, <span th:text="${username}"></span>!</span>
                </li>
                <!-- Se não estiver logado, sugere login ou cadastro -->
                <li th:if="${username == null}">
                    <span>Olá! Faça <a href="/usuarios/login">login</a> ou <a href="/usuarios/cadastrar">crie uma conta</a>.</span>
                </li>
            </ul>
        </nav>
    </header>
    
    <div class="container">
        <div class="content">
            <h2>A PLATAFORMA Nº1 EM ADOÇÃO DE PETS</h2>
            <h1>Um <span>Novo Amigo</span> Espera por Você</h1> 
            <p>Encontre seu novo melhor amigo entre os animais disponíveis para adoção. Ofereça um lar amoroso e receba amor incondicional em troca.</p>
            <div class="buttons">
                <a href="/animais/listar"><button id="services">Ver Animais Disponíveis</button></a>
                <a href="/animais/cadastrar"><button id="secondary">Cadastrar um Animal</button></a>
            </div>
        </div>
        <div class="image">
            <img src="image/gato.webp" alt="Pet">
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
